<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <title>Community</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/logo4.png') }}" alt="logo">
            </a>
            <a class="navbar-brand" href="#">  
                <a href="" class="btn btn-Warning my-2"></a>
                <a href="" class="btn btn-Warning my-2"></a>
                <a href="/blog" class="btn btn-custom btn-lg active text-light" role="button"aria-pressed="true">Blog</a>
                <a href="/dashboard" class="btn btn-warning btn-lg text text-light" role="button" aria-pressed="true">Dashboard</a>
                <a href="/community" class="btn btn-info btn-lg" role="button" aria-pressed="true">Community</a>
                <a href="/logout" class="btn btn-danger btn-lg" role="button" aria-pressed="true">Logout</a>
            </div>
        </div>
    </nav>
    <main>
        <br>
        <div class="center">
            <h1 class="text-info">COMMUNITY</h1>
        <br>
        </div>
        <!-- Botones -->
        <form method="GET" action="/community">
            <div class="form-row">
                <div class="form-group col-md-2 ml-3 text-info">
                    <label for="age"><strong>Age:</strong></label>
                    <input type="number" class="form-control" id="age" name="age">
                </div>
                <div class="form-group col-md-2 text-danger">
                    <label for="native-language text"><strong>Native Language:</strong></label>
                    <select class="form-control" id="native-language" name="native_language">
                        <option value="">Select..</option>
                        <option value="Spanish">Spanish</option>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Italian">Italian</option>
                        <option value="Portuguese">Portuguese</option>
                    </select>    
                </div>
                <div class="form-group col-md-2 text-info">
                    <label for="interest"><strong>Language of Interest:</strong></label>
                    <select class="form-control" id="interest" name="language_of_interest">
                        <option value="">Select..</option>
                        <option value="Spanish">Spanish</option>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Italian">Italian</option>
                        <option value="Portuguese">Portuguese</option>
                    </select>
                </div>
                <div class="form-group col-md-2 text-danger" >
                    <label for="level"><strong>Level:</strong></label>
                    <select class="form-control" id="level" name="level">
                        <option value="">Select..</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediated">Intermediated</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-info ml-3">Filter</button>
            <button type="submit" class="btn btn-danger ml-3">Show all Community</button>
        </form>
        <hr>
        <br>
        <div class="container-fluid">
            <div class="row top-cards">
                {% for user in community %}
                    {% if session['user_id'] != user["user_id"] %}
                        <div class="col-sm-2 mb-2">
                            <div class="border">
                                <img src="{{ user['photo'] }}" alt="{{ user['name'] }}" width="100%" height="280px">
                                <div class="card-body">
                                    <h5 class="text-info">{{user['name']}},{{user['age']}}</h5>
                                    <p class="card-text">{{ user['interest'] }}</p>
                                    <p class="card-text" hidden>{{ user['native_language']}}</p>
                                    <p class="card-text" hidden>{{ user['language_of_interest']}}</p>
                                    <p class="card-text" hidden>{{ user['level'] }}</p>
                                    <form method="GET" action="/view/{{user["user_id"]}}">
                                        <button type="submit" class="btn btn-outline-info btn-lg">Invited</button>
                                        <a href="/show/{{user["user_id"]}}" class="btn btn-danger btn-lg" role="button" aria-pressed="true">View Profile</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>