<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js" integrity="sha512-SJh7xW/9SLzllt0PqjnYlomfUPi7UYF40TXU5m6kVXLFr1hdKe+L8Tqqoi1y9vlsMQBdGC2lZI0d6w04Nn6piQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <!-- links y scripts de wysiwyg -->

    <script src="https://cdn.tiny.cloud/1/k8a1rs6tpzsmoatzwtf6fqc4zdosjsfd6mo391bakabbc387/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/logo4.png') }}" alt="logo">
            </a>
            <a class="navbar-brand" href="#">
                <a href="" class="btn btn-Warning my-2"></a>
                <a href="" class="btn btn-Warning my-2"></a>
                <a href="/blog" class="btn btn-custom btn-lg active text-light" role="button" aria-pressed="true">Blog</a>
                <a href="/dashboard" class="btn btn-warning btn-lg text text-light" role="button" aria-pressed="true">Dashboard</a>
                <a href="/community" class="btn btn-info btn-lg" role="button" aria-pressed="true">Community</a>
                <a href="/logout" class="btn btn-danger btn-lg" role="button" aria-pressed="true">Logout</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container_dashboard w-75">
            {% for users in user %}
                <h1  class="font-weight-bold text-info text-center">Welcome, {{users.name}}! Create your blog.</h1>
            {% endfor %}
                <hr>

        </div>    
        <div class="container mt-5 ">
            <form action="/blog_2" method="post">
                <textarea id="summernote" name="content"></textarea>
                <input type="hidden" name="user_id" value="session['user_id']">
                <button class="btn btn-info btn-lg" type="submit" value="Add content">SEND</button>
            </form>
        </div>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                paste_data_images: true,
                images_upload_handler: function (blobInfo, success, failure) {
                    success("data:" + blobInfo.blob().type + ";base64," + blobInfo.base64());
                },
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ]
            });
        </script>
    </main>
</body>
</html>